section{
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #ccc;
	margin: 23px 0px;
	position: relative;
}

*{
	box-sizing: border-box;
}

html{
	font-family: arial;
}

form{
	width: 20%;
	border: 1px solid black;
	padding: 0px 15px;
	background-color: #eee;
	display: inline-block;
	vertical-align: top;
}

.field{
	border: 1px solid #aaa;
	background-color: #ccc;
	position: absolute;
	top: -18px;
}

input[type=text]{
	width: 100%;
	opacity: 0.6;
}

input[type=text]:focus{
	opacity: 0.9;
}

#people{
	width: 70%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
